<div class="contenedor">
    <header class="header">
        <a routerLink="/">
            <img ngSrc="assets/imagenes/grovestreet.jpg" alt="Grove Street Logo" class="logo" width="75" height="75" />
        </a>
        <div class="titulo-container">
            <h1 class="titulo">GROVE STREET</h1>
            <p class="subtitulo">Tu piso, a un clic!</p>
        </div>
        <nav class="nav-bar">
            <div class="nav-buttons">
                <!-- Botón Crear Anuncio -->
                <button class="boton_anuncio" (click)="crearAnuncio()">
                    <i class="fas fa-plus"></i> Crear anuncio
                </button>
                <!-- Mostrar nombre de usuario -->
                <div *ngIf="isAuthenticated()">
                    <span class="username">{{ getUsername() }}</span>
                </div>
                <!-- Menú de usuario minimalista -->
                <div class="user-menu" *ngIf="isAuthenticated()">
                    <button class="profile-icon" (click)="toggleMenu()">👤</button>
                    <div class="menu-dropdown" *ngIf="menuVisible">
                        <a routerLink="/propiedades/list" class="menu-item">Mis Anuncios</a>
                        <a routerLink="/mis-favoritos" class="menu-item">Mis Favoritos</a>
                        <a routerLink="/mis-mensajes" class="menu-item">Mis Mensajes</a>
                        <button class="logout-btn" (click)="logout()">Cerrar sesión</button>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <section class="listado">
        <h2>Propiedades</h2>
        <div class="propiedad" *ngFor="let propiedad of propiedades">
            <div class="info-propiedad">
                <h3>{{ propiedad.titulo }}</h3>
                <p class="descripcion">{{ propiedad.descripcion }}</p>
                <div class="detalles">
                    <p><strong>Dirección:</strong> {{ propiedad.direccion }}</p>
                    <p><strong>Habitaciones:</strong> {{ propiedad.habitaciones }}</p>
                    <p><strong>Baños:</strong> {{ propiedad.banos }}</p>
                    <p><strong>Metros cuadrados:</strong> {{ propiedad.metrosCuadrados }} m²</p>
                    <p><strong>Tipo de contrato:</strong> {{ propiedad.tipoContrato }}</p>
                </div>
                <div class="precio">
                    <span>{{ propiedad.precio | currency: 'EUR' }}</span>
                </div>
            </div>
        </div>
    </section>
</div>
